.coin-detail{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items:center ;


}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  .details{
    .img{
      display: flex;
      flex-direction: column;
      align-items: center;
    img{
      width: 15rem;
      height:15rem;
    }
    .detail-container{
      h2{
      margin-top:1.5rem;
      font-size: 2.1rem;
      font-weight: 600;
      text-align: center;
    }
    h3{
      margin-top:1.5rem;
      font-size: 1.9rem;
      font-weight: 400;
      text-align: center;
    }
    }

    .more-detail{
      margin-top: 1.5rem;
      span{
        font-size: 1.4rem;


      }
    }
  }
  }
}


.btn-custom{
  color: white;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.8rem;
  border: 1px solid white;
  width: 23%;

  &:focus{
    background: #009688;
    font-weight: 700;
    font-size: 1.8rem;
    border: 1px solid #009688;
  }
}


@media only screen and (max-width: 600px) {
  .row{
    padding-left: 5%;
    padding-right:5%;
    margin-top: unset;
  }

  img{
    width: 5rem !important;
    height: 5rem !important;
  }
}
